<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

   <head>
      <meta charset="UTF-8">
      <title>Echipamente Spalatorii</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      <section class="slider">
       <div class="container">
	      <h1>Echipamente de calitate</h1>
	      <h3>Fiabile si durabile</h3>
	      <p>Toate la cele mai bune preturi</p>
       </div>
       </section>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>

</html>